.chat{
    display:flex;
    padding: 3rem;
    background-color: lightgray;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#card:hover{
    transition: all .4s ease;
        -webkit-transition: all .4s ease;
    justify-content: center;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#card{
    transition: all .4s ease;
        -webkit-transition: all .4s ease;
    background-color: lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}